<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/task
    	   http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <!-- 包扫描（@Repository/@Service/@Controller/@Component） -->
    <context:component-scan base-package="com"/>

    <!-- context开启注解 -->
    <context:annotation-config/>

    <!--************************************************************分割线************************************************************-->

    <!--
    多环境配置
    ①（开发环境）Tomcat VM options：-Dspring.profiles.active=dev
    ②（生产环境）修改Tomcat catalina.sh脚本，在JAVA_OPTS值中添加-Dspring.profiles.active=pro
    -->
    <context:property-placeholder location="classpath:config/application.properties"/>

    <!-- 数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--************************************************************半分割线******************************-->

    <!-- 整合MyBatis（传统写法/MyBatis单独配置sqlMapConfig.xml） -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/sqlMapConfig.xml"/>
        <!-- SQL XML可以不在sqlMapConfig中配置 -->
        <!--<property name="mapperLocations" value="classpath:mapper/*.xml"/>-->
    </bean>

    <!-- 需要实现Dao接口 -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!--************************************************************半分割线******************************-->

    <!-- 事务配置 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 使用注解方式配置事务（@Transactional） -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--************************************************************分割线************************************************************-->

    <!--
    ①启用对@Aspect的支持
    ②proxy-target-class="true"强制使用cglib代理，false由Spring自动选择
    -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 注解方式配置定时器 -->
    <task:annotation-driven/>

</beans>
